In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['ability_upgrades.csv', 'yasp_sample.json', 'player_ratings.csv', 'teamfights.csv', 'match_outcomes.csv', 'patch_dates.csv', 'item_ids.csv', 'purchase_log.csv', 'player_time.csv', 'cluster_regions.csv', 'teamfights_players.csv', 'players.csv', 'chat.csv', 'hero_names.csv', 'ability_ids.csv', 'test_labels.csv', 'match.csv', 'objectives.csv', 'test_player.csv']

In [3]:
matches = pd.read_csv('../input/match.csv', index_col=0)
matches.head()

          start_time  duration   ...     positive_votes  cluster
match_id                         ...
0         1446750112      2375   ...                  1      155
1         1446753078      2582   ...                  2      154
2         1446764586      2716   ...                  0      132
3         1446765723      3085   ...                  0      191
4         1446796385      1887   ...                  0      156

[5 rows x 12 columns]

In [4]:
players = pd.read_csv('../input/players.csv')
players.head()

   match_id         ...           unit_order_continue
0         0         ...                           NaN
1         0         ...                           NaN
2         0         ...                           NaN
3         0         ...                           NaN
4         0         ...                           NaN

[5 rows x 73 columns]

In [46]:
players.shape

(500000, 73)

In [47]:
sum(players.gold_per_min)/len(players)  #average GPM

415.097178

In [5]:
player_time = pd.read_csv('../input/player_time.csv')
player_time.head()

   match_id  times  gold_t_0    ...     gold_t_132  lh_t_132  xp_t_132
0         0      0         0    ...              0         0         0
1         0     60       409    ...            613         1       125
2         0    120       546    ...            815         5       323
3         0    180       683    ...           1290         8       527
4         0    240       956    ...           1431         9       589

[5 rows x 32 columns]

In [6]:
player_time = pd.read_csv('../input/player_time.csv')
player_time.head()

   match_id  times  gold_t_0    ...     gold_t_132  lh_t_132  xp_t_132
0         0      0         0    ...              0         0         0
1         0     60       409    ...            613         1       125
2         0    120       546    ...            815         5       323
3         0    180       683    ...           1290         8       527
4         0    240       956    ...           1431         9       589

[5 rows x 32 columns]

In [7]:
a_match = player_time.query('match_id == 1')  # the match details of match id =1

In [8]:
teamfights = pd.read_csv('../input/teamfights.csv')
teamfights.head()

   match_id  start   end  last_death  deaths
0         0    220   252         237       3
1         0    429   475         460       3
2         0    900   936         921       3
3         0   1284  1328        1313       3
4         0   1614  1666        1651       5

In [9]:
teamfights_players = pd.read_csv('../input/teamfights_players.csv')
teamfights_players.head()

   match_id  player_slot  buybacks    ...     gold_delta  xp_end  xp_start
0         0            0         0    ...            173     536       314
1         0            1         0    ...              0    1583      1418
2         0            2         0    ...              0     391       391
3         0            3         0    ...            123    1775      1419
4         0            4         0    ...            336    1267       983

[5 rows x 8 columns]

In [11]:
player_ratings = pd.read_csv('../input/player_ratings.csv')
player_ratings.head()

   account_id  total_wins       ...         trueskill_mu  trueskill_sigma
0      236579          14       ...            27.868035         5.212361
1        -343           1       ...            26.544163         8.065475
2       -1217           1       ...            26.521103         8.114989
3       -1227           1       ...            27.248025         8.092217
4       -1284           0       ...            22.931016         8.092224

[5 rows x 5 columns]

In [13]:
match_outcomes = pd.read_csv('../input/match_outcomes.csv')
ability_upgrades = pd.read_csv('../input/ability_upgrades.csv')
ability_ids = pd.read_csv('../input/ability_ids.csv')

In [14]:
purchase_log = pd.read_csv('../input/purchase_log.csv')
item_ids = pd.read_csv('../input/item_ids.csv')

In [17]:
item_ids.head()

   item_id         item_name
0        1             blink
1        2  blades_of_attack
2        3        broadsword
3        4         chainmail
4        5          claymore

In [33]:
players[players['account_id']==81001][:]

        match_id         ...           unit_order_continue
203631     20363         ...                           NaN
256834     25683         ...                           NaN
293401     29340         ...                           NaN
387917     38791         ...                           NaN
437572     43757         ...                           NaN

[5 rows x 73 columns]

In [37]:
#find my match